body{
  overflow-x: hidden;
}

	/*Padding and Margin*/
.my-5
.py-5{
   margin-bottom: 10px !important;
    margin-top: 10px !important;
}
/*FONTS*/

.Rockf{
      font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
}

.futuraf{
  font-family: 'Futura-Bold', arial; 
}

/*Text Colour */

.bluetxt{

  color:#33ccff;
}
 .whitetext{
  color:#fff;
 }

 .pinktxt{
      color:#f99192; 
 }
.blacktxt(){
  
  color:#000;
}
.fsize{
  font-size: 50px;

}

.bg{
	background-color:#fff;
	width: 20px;
}

.line{
   display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto;
}

.bgline{
	background-color:#33ccff;
	height:10px;
}

.bg3
{
	color:#33ccff;
}

.bg4{
	background-color: #f99192;
	height:10px;
}
/*brand nav bar*/
.navbar-light .navbar-brand{
	font-size:40px;
	color:#33ccff;
}

.blackbg{
	background-color:#000;
}

.navbar-light .navbar-nav .nav-link{
	color:#33ccff;	
}

.navbar-light .navbar-nav .nav-link:hover{
	color:#f4ebd9;

}

.navbar-light .navbar-nav .active > .nav-link{
	color:#33ccff;
}

.navbar-light .navbar-brand:hover{
	color:#f4ebd9;
}

.navbar-light .navbar-nav .active > .nav-link:hover{
color:#f4ebd9;	
}

/*Background Image for Home Page*/
.bghome {
  height: 100vh;  /*if the min height 100vh-94px for navbarbackground*/
 /* min-height: 500px;*/
  background-image: url('../imgs/p4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: fixed;
}

.bgcontent {
  margin: 40px auto;
  background-image: radial-gradient(circle, #fff ,#33ccff);
  opacity:0.8;
  position: absolute;
  width: 690px;
  height: 344px;
  border-radius:90px; 
}
 
 /*Social Media Buttons*/
 .fab1{
 	width: 50px;
 	height: 50px;
 	border-radius: 5px;
 /*	background-color:#f99192;*/
 }

/*background image padding */
.bgshadow{
  box-shadow: -15px 17px 10px 10px #33ccff;
	background-color: none ;
}

.bgabout1{  
    background-color: #33ccff;
    width: 421px;
    height: 500px;
    top: 42px;
    left: -119px;
}

.bgabout2{
	width: 540px;
	height: 480px;
	background-color: #33ccff;
	border:10px double #fff;
	position: absolute;
	top: 14px;
}

/*My Resume */
 .bg-Resume{
   height: 100vh;  /*if the min height 100vh-94px for navbarbackground*/
   min-height: 500px;
   background-image:  url('../imgs/bg4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
 }

.bgcontent2{

    border: 8px double #ffb7b7;
        margin-left: 256px;
        line-height: 10px;
        height:440px;
}


/*Backgrounf for my skills*/
.skillsbg{
  height: 100vh;



   background-color:#f5f5f5;
 }

/*.anotherbg{
background-color:#ececec;
height: 100vh;
}
*/
.imgskills{
  width: 100px ;
   height: 100px; 
   border-radius:50% ;
   display: inline-block;
    border:3px solid #f99192; 
}
/*
.ul{ 
    list-style-image:url('../imgs/Electronics.jpg'); 
    width: 30px;
    height: 30px;
  }*/

/*My experinces */
.bgblue{
	/*height: 600px;*/
	background-color:#F7F3D5;
/*	background-image: linear-gradient( to right, #fff ,#33ccff , #f99192);*/
}
 
 .card-header1{
 	background-color:#b7e9f7;
 	color:#000; 

 }
 
.card-header2{
 	background-color: #faeaf6;
 	color:#000; 
 }

.card-header3{
 	background-color:#fff;   
 	color:#000; 
 }
 
.progress-bar {
	background-color: #f99192;
}

.bgmember {
  background-image: linear-gradient( to right, #fff , #FEE5B5, #f99192);

  height: 50vh;

}